LMSGI/UD4 XML/Ejercicios_XML/pack2/ejercicio2.dtd

<!ELEMENT comanda (tractor+)>
<!ELEMENT tractor (componente+)>
<!ELEMENT componente (fecha_entrega, peso, numero_serie, kmmaximos?)>
<!ATTLIST componente fabricante CDATA #REQUIRED
                        fragil (si|no) #REQUIRED>
<!ELEMENT fecha_entrega (dia?, mes, año)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT peso (#PCDATA)>
<!ATTLIST peso unidades (Kilos| Libras) #REQUIRED>
<!ELEMENT numero_serie (#PCDATA)>
<!ELEMENT kmmaximos (#PCDATA)>